@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
* {
  margin: 0;
  padding: 0; }

.fondoGaleria {
  background-color: black; }

/*PARRAFOS*/
.resumen__parrafo, .seccion1__resumenAcercaDeMi, .seccion__resumenNuestroEstudio, .seccion__resumenMiniBaby, .seccion__resumenNewborn {
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  margin: 70px;
  text-align: center;
  animation-name: desplazamiento;
  animation-duration: 7s;
  animation-iteration-count: 1; }

/*ANIMACIONES*/
@keyframes desplazamiento {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/* BLOQUES GALERIA*/
.galeria {
  font-family: 'Dosis', sans-serif;
  padding: 100px; }

.galeria div a {
  background-color: black;
  color: white;
  list-style-type: none;
  text-decoration: none;
  border: solid 3px; }

/*FOOTER*/
.pie {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  height: 100px;
  text-align: center; }

/*FOTOS CON TEXTOS*/
.contenedor, .contenedor1, .contenedor2, .contenedor3 {
  position: relative;
  display: inline-block; }

.contenedor__plus, .contenedor1__plus, .contenedor3__plus {
  font-family: 'Niconne', cursive;
  position: absolute;
  top: 150px;
  left: 40px; }

.contenedor4__plus {
  font-family: 'Niconne', cursive;
  position: absolute;
  top: 250px;
  left: 50px; }

.contenedor__plus1 {
  font-family: 'Niconne', cursive;
  position: absolute;
  right: 100px;
  top: 150px; }

.contenedor1__plus, .contenedor__plus1, .contenedor4__plus {
  color: white; }

.contenedor__fotoAcercaDeMi, .contenedor__fotoEstudio, .contenedor__fotoMiniBaby, .contenedor3__fotoNewborn, .contenedor4__fotoMaternidad {
  width: 100%; }

/*MEDIA QUERIS*/
@media (min-width: 320px) and (max-width: 480px) {
  .contenedor__plus, .contenedor1__plus, .contenedor3__plus {
    left: 5px;
    top: 170px; }
  .contenedor__plus1 {
    right: 60px;
    top: 170px; }
  .contenedor4__plus {
    top: 70px;
    left: 5px; }
  .logo {
    display: none; }
  .seccion1__resumenAcercaDeMi, .seccion__resumenNuestroEstudio, .seccion__resumenMiniBaby, .seccion__resumenNewborn {
    font-size: 1rem; } }

@media (min-width: 481px) and (max-width: 768px) {
  .contenedor__plus, .contenedor1__plus {
    left: 5px;
    top: 60px; }
  .contenedor__plus1 {
    right: 60px;
    top: 50px; }
  .seccion1__resumenAcercaDeMi, .seccion__resumenNuestroEstudio, .seccion__resumenMiniBaby, .seccion__resumenNewborn {
    font-size: 1rem; }
  .logo {
    display: none; } }
