@import "sass/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
$size50:50px;
$size100:100px;
$size200:200px;
*{
    margin: 0;
    padding: 0;
}
/**********
    FONDO
***********/
.fondo{
    background-color:black;
    color:white;
}
/**************
    PARRAFOS
**************/
.seccion__parrafos{
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    margin: 50px;
    text-align:center;
    animation-name: desplazamiento;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

/***************
    ANIMACIONES
****************/

@keyframes desplazamiento {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

/*********************
    FOTOS CON TEXTOS
*********************/
/*CONTENEDORES*/
.contenedor, .contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6, .contenedor7{
    position: relative;
    display: inline-block;
    //CONTENEDORES DE FOTOS
    .contenedor__fotoAcercaDeMi, .contenedor1__fotoEstudio, .contenedor2__fotoMiniBaby, .contenedor3__fotoNewborn, .contenedor4__fotoMaternidad, .contenedor5__fotoInfantil, .contenedor6__fotoSesiones, .contenedor7__fotoFemmale{
        width: 100%;
    }
    //TEXTO EN LAS FOTOS
    .contenedor__plus, .contenedor2__plus, .contenedor1__plus, .contenedor3__plus,.contenedor4__plus, .contenedor5__plus, .contenedor6__plus, .contenedor7__plus{
        font-family: 'Niconne', cursive;
        position: absolute;
    }
    //COLOR DE TEXTO EN LAS FOTOS
    .contenedor1__plus, .contenedor2__plus, .contenedor4__plus, .contenedor6__plus, .contenedor7__plus{
        color: white;
    }
    //UBICACION DE TEXTO EN LAS FOTOS
    .contenedor__plus, .contenedor1__plus, .contenedor2__plus, .contenedor5__plus, .contenedor6__plus, .contenedor7__plus{
        top: $size100 + $size50;
    }
    .contenedor4__plus, .contenedor3__plus{
        left: $size50;
    }
    .contenedor5__plus{
        left:$size200;
    }
    .contenedor4__plus, .contenedor3__plus{
        top: $size50;
        left: 10px;
    }
    .contenedor6__plus{
        right: $size100;
    }
    .contenedor2__plus{
        right:$size100 + $size50;
    } 
    .contenedor__plus, .contenedor1__plus, .contenedor3__plus{
        left: 40px;
    } 
}    

/*********
   FOOTER
**********/
.pie{
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    height: $size100;
    text-align: center;
}
/*****************
    MEDIA QUERIS
******************/
@media (min-width: 320px) and (max-width: 480px){
    .contenedor, .contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6, .contenedor7{
        position: relative;
        display: inline-block;
        .contenedor2__plus, .contenedor6__plus{
            right: $size50 + 10px;
            top: $size200;
        }
        .contenedor3__plus{
            left:20px;
            top:170px;
        }
        .contenedor5__plus{
            top: $size50;
            left:$size50 - 10px;
        }
        .contenedor7__plus{
            left:10px;
            top: $size200 + $size100;
        }
        .contenedor__plus, .contenedor1__plus{
            left: 5px;
            top: $size200 - 10px;   
        }
    }    
    .logo{
        display: none;
    }
    .seccion__parrafos{
        font-size: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .contenedor, .contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6, .contenedor7{
        position: relative;
        display: inline-block;
        .contenedor4__plus{
            top:$size100 + $size50; 
            left:15px;
         }
        .contenedor3__plus, .contenedor6__plus, .contenedor7__plus{
            top:$size200 + $size50;
        }
        .contenedor2__plus{
            right: $size50 + 10px;
            top: $size50;
        }
        .contenedor5__plus{
            top: $size50;
            left:$size50;
        }
        .contenedor__plus, .contenedor1__plus{
            left: 5px;
            top: $size50 + 10px;
        }
    }
    .seccion__parrafos{
        font-size: 1rem;
        }
    .logo{
        display: none;
    }
}