@import "sass/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
$size50:50px;
$size100:100px;
$size200:200px;

.contenedor-inicio {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

  }
  .border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }
  .border:hover {
    border: 1px solid #fff;
  }
  
  .card-plus {
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card0 {
    background: url("../imagenes/fotosComplementarias/f1.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card0:hover {
    background: url("../imagenes/fotosComplementarias/f2.jpg") left center no-repeat;
    background-size: 600px;
  }
  .card0:hover h2 {
    opacity: 1;
  }
  .card0:hover .fa {
    opacity: 1;
  }
  .card1 {
    background: url("../imagenes/fotosComplementarias/e9.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card1:hover {
    background: url("../imagenes/fotosComplementarias/e8.jpg") left center no-repeat;
    background-size: 400px;
  }
  .card1:hover h2 {
    opacity: 1;
  }
  .card1:hover .fa {
    opacity: 1;
  }
  .card2 {
    background: url("../imagenes/fotosComplementarias/g33.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card2:hover {
    background: url("../imagenes/fotosComplementarias/g34.jpg") left center no-repeat;
    background-size: 600px;
  }
  .card2:hover h2 {
    opacity: 1;
  }
  .card2:hover .fa {
    opacity: 1;
  }
  .titular{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
*{
    margin: 0;
    padding: 0;
}
/**********
    FONDO
***********/
.fondo{
    background-color:black;
    color:white;
}
/***********************
    TITULOS DE CARRUSEL
************************/
h2, .especial{
    font-family: 'Dancing Script', cursive;
}
/**************
    PARRAFOS
**************/
.seccion__parrafos1, .seccion__parrafos{
    animation-name: desplazamiento;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.seccion__parrafos{
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
}
.seccion__parrafos1{
    font-family: 'Playball', cursive;
    font-size: 1.5em;
}
/*-----------*/
.rectangulo{
    display:flex;
    flex-direction:column;
    background-color:black;

}
.recta{

    background-color:white;
    margin:50px;
    width:100%;
    height:150px;

}
/***************
    ANIMACIONES
****************/
//ICONOS REDES SOCIALES
.opacidad{
    opacity: 0.40;
    justify-content: space-around;

}
img:hover{
    opacity: 1;
}
@keyframes desplazamiento {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

/*********************
    FOTOS CON TEXTOS
*********************/
/*CONTENEDORES*/
.contenedor, .contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6, .contenedor7{
    position: relative;
    display: inline-block;
    //CONTENEDORES DE FOTOS
    .contenedor__fotoAcercaDeMi, .contenedor1__fotoEstudio, .contenedor2__fotoMiniBaby, .contenedor3__fotoNewborn, .contenedor4__fotoMaternidad, .contenedor5__fotoInfantil, .contenedor6__fotoSesiones, .contenedor7__fotoFemmale{
        width: 100%;
    }
    //TEXTO EN LAS FOTOS
    .contenedor__plus, .contenedor2__plus, .contenedor1__plus, .contenedor3__plus,.contenedor4__plus, .contenedor5__plus, .contenedor6__plus, .contenedor7__plus{
        font-family: 'Niconne', cursive;
        position: absolute;
    }
    //COLOR DE TEXTO EN LAS FOTOS
    .contenedor1__plus, .contenedor2__plus, .contenedor4__plus, .contenedor6__plus, .contenedor7__plus{
        color: white;
    }
    //UBICACION DE TEXTO EN LAS FOTOS
    .contenedor__plus, .contenedor1__plus, .contenedor2__plus, .contenedor5__plus, .contenedor6__plus, .contenedor7__plus{
        top: $size100 + $size50;
    }
    .contenedor4__plus, .contenedor3__plus{
        left: $size50;
    }
    .contenedor5__plus{
        left:$size200;
    }
    .contenedor4__plus, .contenedor3__plus{
        top: $size50;
        left: 10px;
    }
    .contenedor6__plus{
        right: $size100;
    }
    .contenedor2__plus{
        right:$size100 + $size50;
    } 
    .contenedor__plus, .contenedor1__plus, .contenedor3__plus{
        left: 45px;
    }
    .prueba1{
        position: absolute;
        font-family: 'Cinzel', serif;
        top: $size100;
        left: 10px;  
    } 
} 

//FOTOS
.circular{
    width: 100%;
    height: 300px;
    border-radius: 60%;
}
/*TEXTO ALTERNATIVO*/

/*********
   FOOTER
**********/
.pie{
    width:100%;
    background-color: black;
    color: white;
    font-size:1em;
    height: $size100 + $size50;
}
/*****************
    MEDIA QUERIS
******************/
@media (min-width: 320px) and (max-width: 480px){
    .contenedor, .contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6, .contenedor7{
        position: relative;
        display: inline-block;
        .contenedor2__plus, .contenedor6__plus{
            right: $size50 + 10px;
            top: $size200;
        }
        .contenedor3__plus{
            left:20px;
            top:170px;
        }
        .contenedor5__plus{
            top: $size50;
            left:$size50 - 10px;
        }
        .contenedor7__plus{
            left:10px;
            top: $size200 + $size100;
        }
        .contenedor__plus, .contenedor1__plus{
            left: 5px;
            top: $size200 - 10px;   
        }
    }   
    .logo{
        display: none;
    }
    .icons{
        flex-direction: column;

    }
    .seccion__parrafos{
        font-size: 1rem;
    }
    .seccion__parrafos1{
        font-size:0.5em;
    }
    //rever
    .pie{
        font-size:0.9em;
        padding:10px;
        img{
            width:20px;
            height:20px;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .contenedor, .contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6, .contenedor7{
        position: relative;
        display: inline-block;
        .contenedor4__plus{
            top:$size100 + $size50; 
            left:15px;
         }
        .contenedor3__plus, .contenedor6__plus, .contenedor7__plus{
            top:$size200 + $size50;
        }
        .contenedor2__plus{
            right: $size50 + 10px;
            top: $size50;
        }
        .contenedor5__plus{
            top: $size50;
            left:$size50;
        }
        .contenedor__plus, .contenedor1__plus{
            left: 5px;
            top: $size50 + 10px;
        }
        .prueba1{
            top:20px;
            font-size:20px;
        }
    }
    .container{
        overflow:hidden;
    }
    .seccion__parrafos{
        font-size: 1rem;
        }
    .seccion__parrafos1{
        font-size:1em;
        margin:10px;
    }
    .logo{
        display: none;
    }
    .icons{
        flex-direction: column;

    }
    .pie{
        text-aling:left;
        font-size:0.9em;
        padding:10px;
        img{
            width:40px;
            height:40px;
        }
    }
}