@import "sass/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
$size50:50px;
$size100:100px;
$size200:200px;
.bloque{
    background-color:white;
    color:black;
    display:flex;
    flex-direction:column;
    padding-top:50px;
    padding-bottom:50px;
}
/*
.bloque2{
    text-aling:start;
    width:100%;

}*/
.textoIndex{
    font-size:1.2em;
    font-family: 'Playfair Display', serif;
}
.fotoIn{
    width:100%;
}

.contenedor-cards{
    padding-top:50px;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}
.firma{
    width:50%;
}
.firmar{
    aling:right;
}

.border-plus {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}
.border:hover {
    border: 1px solid #fff;
  }
.espacio{
    padding-bottom:200px;
}  
.card-plus {
    height: 379px;
    max-width:100%;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
  .card0 {
    background: url("../imagenes/cards_inicio/f1.jpg") center center no-repeat;
    background-size: 300px;

  }
  .card0:hover {
    background: url("../imagenes/cards_inicio/f2.jpg") left center no-repeat;
    background-size: 600px;
  }
  .card0:active{
    background: url("../imagenes/cards_inicio/f2.jpg") left center no-repeat;
    background-size: 600px;
  }
  .card0:hover h2 {
    opacity: 1;
  }

  .card1 {
    background: url("../imagenes/cards_inicio/e9.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card1:hover {
    background: url("../imagenes/cards_inicio/e8.jpg") left center no-repeat;
    background-size: 400px;
  }
  .card1:active {
    background: url("../imagenes/cards_inicio/e8.jpg") left center no-repeat;
    background-size: 400px;
  }
  .card1:hover h2 {
    opacity: 1;
  }

  .card2 {
    background: url("../imagenes/cards_inicio/g33.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card2:hover {
    background: url("../imagenes/cards_inicio/g34.jpg") left center no-repeat;
    background-size: 600px;
  }
  .card2:active {
    background: url("../imagenes/cards_inicio/g34.jpg") left center no-repeat;
    background-size: 600px;
  }
  .card2:hover h2 {
    opacity: 1;
  }
  .card2:hover .fa {
    opacity: 1;
  }
  .card4 {
    background: url("../imagenes/cards_inicio/a3.jpg") center center no-repeat;
    background-size: 300px;

  }
  .card4:hover {
    background: url("../imagenes/cards_inicio/a6.jpg") left center no-repeat;
    background-size: 500px;
  }
  .card4:hover h2 {
    opacity: 1;
  }
  .card5 {
    background: url("../imagenes/cards_inicio/e6.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card5:hover {
    background: url("../imagenes/cards_inicio/e7.jpg") left center no-repeat;
    background-size: 500px;
  }
  .card5:hover h2 {
    opacity: 1;
  }

  .card6 {
    background: url("../imagenes/cards_inicio/d8.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card6:hover {
    background: url("../imagenes/cards_inicio/d10.jpg") left center no-repeat;
    background-size: 400px;
  }
  .card6:hover h2 {
    opacity: 1;
  }

  .titular{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
/*  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  */
*{
    margin: 0;
    padding: 0;
}
/**********
    FONDO
***********/
.fondo{
    background-color:black;
    color:white;
}
/***********************
    TITULOS DE CARRUSEL
************************/
h2, .especial{
    font-family: 'Dancing Script', cursive;
}
/**************
    PARRAFOS
**************/
.seccion__parrafos1, .seccion__parrafos{
    animation-name: desplazamiento;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.seccion__parrafos{
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
}
.seccion__parrafos1{
    font-family: 'Playball', cursive;
    font-size: 1.5em;
    width:50%;
}

.recta{

    background-color:white;
    margin:50px;
    width:100%;
    height:150px;

}
/***************
    ANIMACIONES
****************/
//ICONOS REDES SOCIALES
.opacidad{
    opacity: 0.40;
    justify-content: space-around;

}
img:hover{
    opacity: 1;
}
@keyframes desplazamiento {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

/*********************
    FOTOS CON TEXTOS
*********************/
/*CONTENEDORES*/
.contenedor, .contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6, .contenedor7{
    position: relative;
    display: inline-block;
    //CONTENEDORES DE FOTOS
    .contenedor__fotoAcercaDeMi, .contenedor1__fotoEstudio, .contenedor2__fotoMiniBaby, .contenedor3__fotoNewborn, .contenedor4__fotoMaternidad, .contenedor5__fotoInfantil, .contenedor6__fotoSesiones, .contenedor7__fotoFemmale{
        width: 100%;
    }
    //TEXTO EN LAS FOTOS
    .contenedor__plus, .contenedor2__plus, .contenedor1__plus, .contenedor3__plus,.contenedor4__plus, .contenedor5__plus, .contenedor6__plus, .contenedor7__plus{
        font-family: 'Niconne', cursive;
        position: absolute;
    }
    //COLOR DE TEXTO EN LAS FOTOS
    .contenedor1__plus, .contenedor2__plus, .contenedor4__plus, .contenedor6__plus, .contenedor7__plus{
        color: white;
    }
    //UBICACION DE TEXTO EN LAS FOTOS
    .contenedor__plus, .contenedor1__plus, .contenedor2__plus, .contenedor5__plus, .contenedor6__plus, .contenedor7__plus{
        top: $size100 + $size50;
    }
    .contenedor4__plus, .contenedor3__plus{
        left: $size50;
    }
    .contenedor5__plus{
        left:$size200;
    }
    .contenedor4__plus, .contenedor3__plus{
        top: $size50;
        left: 10px;
    }
    .contenedor6__plus{
        right: $size100;
    }
    .contenedor2__plus{
        right:$size100 + $size50;
    } 
    .contenedor__plus, .contenedor1__plus, .contenedor3__plus{
        left: 45px;
    }
    .prueba1{
        position: absolute;
        font-family: 'Cinzel', serif;
        top: $size100;
        left: 10px;  
    } 
} 


/*TEXTO ALTERNATIVO*/

/*********
   FOOTER
**********/
.pie{
    bottom:0;
    width:100%;
    background-color: black;
    height: 80px;
    position:fixed;
    justify-content: space-around;

}


/*****************
    MEDIA QUERIS
******************/
@media (min-width: 320px) and (max-width: 480px){
    .contenedor, .contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6, .contenedor7{
        position: relative;
        display: inline-block;
        .contenedor2__plus, .contenedor6__plus{
            right: $size50 + 10px;
            top: $size200;
        }
        .contenedor3__plus{
            left:20px;
            top:170px;
        }
        .contenedor5__plus{
            top: $size50;
            left:$size50 - 10px;
        }
        .contenedor7__plus{
            left:10px;
            top: $size200 + $size100;
        }
        .contenedor__plus, .contenedor1__plus{
            left: 5px;
            top: $size200 - 10px;   
        }
    }   
    .logo{
        display: none;
    }
    .icons{
        flex-direction: column;

    }
    .contenedor-cards{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
    .seccion__parrafos{
        font-size: 1rem;
    }
    .seccion__parrafos1{
        font-size:0.5em;
    }
    .textoIndex{
        font-size:1em;
    }
    .fotoIn{
        display:none;
    }
    .textoIndex{
        font-size:1em;
    }
    .pie{
        font-size:0.9em;
        padding:10px;

        img{
            width:50px;
            height:50px;
        }
    }
    .card0, .card1, .card2, .card4, .card5, .card6{
        padding-bottom:50px;
        padding-top:50px;

    }
}

@media (min-width: 481px) and (max-width: 768px){
    .contenedor, .contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6, .contenedor7{
        position: relative;
        display: inline-block;
        .contenedor4__plus{
            top:$size100 + $size50; 
            left:15px;
         }
        .contenedor3__plus, .contenedor6__plus, .contenedor7__plus{
            top:$size200 + $size50;
        }
        .contenedor2__plus{
            right: $size50 + 10px;
            top: $size50;
        }
        .contenedor5__plus{
            top: $size50;
            left:$size50;
        }
        .contenedor__plus, .contenedor1__plus{
            left: 5px;
            top: $size50 + 10px;
        }
        .prueba1{
            top:20px;
            font-size:20px;
        }
    }
    .contenedor-cards{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
    }
    .seccion__parrafos{
        font-size: 1rem;
        }
    .seccion__parrafos1{
        font-size:1em;
        margin:10px;
    }
    .separacion{
        width:30%;
    }
    .fotoIn{
    display:none;
    }
    .textoIndex{
        font-size:1em;
    }
    .logo{
        display: none;
    }
    .icons{
        flex-direction: column;

    }
    .pie{
        text-aling:left;
        font-size:0.9em;
        padding:10px;
        img{
            width:50px;
            height:50px;
        }

    }
    .card0, .card1, .card2, .card4, .card5, .card6{
        padding-bottom:50px;
        padding-top:50px;
    }
}